*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
.container{
    position: relative;
}

.container .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 20px 9%;
    padding-bottom: 70px;
}
.container .slide-container .slide .content{
    flex: 1 1 350px;
    animation: slideContent .4s linear .6s backwards;
}
@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
}
.container .slide-container .slide .image{
    flex: 1 1 420px;
    animation: slideImage .4s linear;
}
@keyframes slideImage{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
}
.container .slide-container .slide img{
    width: 100%;
}
.container .slide-container .slide .content h3{
    font-size: 35px;
    color: #333;
}
.container .slide-container .slide .content p{
    font-size: 16px;
    color: #666;
    padding: 10px 0;
}
.container .slide-container .slide .content .btn{
    margin-top: 10px;
    display: inline-block;
    background: #666;
    color: #fff;
    font-size: 17px;
    padding: 10px 40px;
    text-decoration: none;
    transition: 0.5s;
}
.container .slide-container .slide .content .btn:hover{
    background: #333;
}
.container .slide-container{
    display: none;
}
.container .slide-container.active{
    display: block;
}
.container .slide-container:nth-child(1) .slide{
    background: linear-gradient(90deg,#f9f9f9 70%, #710193 30%);
}
.container .slide-container:nth-child(2) .slide{
    background: linear-gradient(90deg,#f9f9f9 70%, #d0f0c0 30%);
}
.container .slide-container:nth-child(3) .slide{
    background: linear-gradient(90deg,#f9f9f9 70%, #ffff99 30%);
}
.container .slide-container:nth-child(4) .slide{
    background: linear-gradient(90deg,#f9f9f9 70%, #bc544b 30%);
}
.container #prev, .container #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background: #666;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}
.container #next{
    right: 0;
}
.container #prev:hover, .container #next:hover{
    background: #333;
}